* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    background-color: black;
    /* border: 2px solid red; */
}
.boys {
    display:flex;
    justify-content: center;
    margin-top: 20px;
    
}
h1 {
    color: white;
}
#images {
    margin: 40px;
    display: flex;
    justify-content: space-around;
    /* height: 500px; */
    
}

img {
    width: 200px;
    height: 200px;

    
}

li {
    color: white;
}